<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100%;
    "
  >
    <h1>Current Page Id is {{ currentPageId }}</h1>
    <ion-button (click)="goToPreviousPage()">go to previous page</ion-button>
    <ion-button (click)="goToNextPage()">go to next page</ion-button>
  </div>
</ion-content>
